html{
  box-sizing: border-box;
  margin-top: 0;
}

*, *::before, *::after {
  box-sizing: inherit;

}
body{
  font-family: 'Merriweather', serif;
  margin: 0;
}
header{
  background-color: #d05c2e;
  text-align: center;
  color: white;
  padding: 0;
  margin-top: 0;

}
.grainicon{
  float:right;
  width: 15%;
}
.grainicon-2{
  float: left;
  width: 15%
}

nav ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0.5em 0;
}
nav li {
  display: inline;
}
nav a{
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 2px solid;
  border-color: #A93F35;
  background-color: #d05c2e;
  padding: 0.50em 0.50em;
  margin: 0.05em;

}
a:hover{
  background-color: #A93F35;
}
.grains{
  float: left;
  width: 50%;
  margin-right: 15px;
}
.cereals{
  float: right;
  width: 50%;
  margin-left: 15px;
  border: 1px solid;
  border-color: grey;
}
.quinoa{
  float: right;
  width: 50%;
  margin-left: 15px;
  margin-top: 15px;
  border: 1px solid;
  border-color: grey;
}
.corn{
  width: 100%;
  margin: 0;
  padding: 0;
}
.figurecorn{
  width: 100%;
}
.rice{
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.oats{
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
figure{
  width: 50%;
}

div{
  margin: 2rem;
}
figcaption{
  color: white;
  font-style: italic;
  text-align: center;
}
.div-2{
  background-color: #DC8252;
  padding: 0;
  margin: 0;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #A93F35;
}
h2{
  color: white;
  text-align: center;
}
.peanuts{
  float: left;
  width: 30%;
  border: 1px solid;
  border-color: grey;
  margin-right: 15px;
  margin-left: 15px;
}
.beans{
  float: left;
  width: 30%;
  border: 1px solid;
  border-color: grey;
  margin-right: 15px;
  clear: both;
  margin-top: 15px;
  margin-left: 15px;
}
.lentils{
  float: left;
  width: 30%;
  border: 1px solid;
  border-color: grey;
  margin-right: 15px;
  clear: left;
  margin-top: 15px;
  margin-left: 15px;
}

footer{
  float: top;
  background-color: #d05c2e;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #DC8252;
  overflow: hidden;
  clear: left;
}
.famous-legumes{
  color: black;
  text-align: center;
}
.p2{
  font-style: italic;
}
b{
  font-weight: bold;
}
